body {
    background: rgb(169, 169, 169);
    font-family: 'Montserrat';
    padding: 0 10em;
}

#title {
    padding-bottom: 4em;

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Montserrat';
        color: #515f68;
        text-align: center;
    }  
}

.container {
    display: flex;
}

.box {
    flex: 3;
    border: solid;
    height: 50vh;
    resize: both;
}

.type {
    flex: 1;
    border: solid;
    margin-bottom: 0.5em;
    padding: 5px;
    
    &:hover {
        cursor: pointer;
        color: white;
    }
}

.active {
    color: white;
}

.file-input {
    display: flex;
}

.file-input-box {
    flex: 3;
}

.html-format {
    display: none;
    height: 100%;
    width: 100%;
}

.input {
    font-size: 14px;
}

#html-input-tab {
    border: none;
    margin-left: 1em;
}

#html-input {
    flex: 4;
    resize: both;
}

#html-output {
    margin-left: 1em;
}
